<div class="container">
    <div>
        <h1>Login</h1>
    </div>
    <div>
        <form (ngSubmit)="onSubmit(authForm)" #authForm = "ngForm" >
            <div>
                <label 
                for="email">Email</label>
                <input 
                type="email"
                id="email"
                name="email"
                class="form-control"
                ngModel
                >
            </div>
            <div *ngIf="!isLogin">
                <label for="name">Name</label>
                <input 
                type="string" 
                id="name" 
                name="name" 
                class="form-control" 
                ngModel>
            </div>
            <div >
                <label for="email">Password</label>
                <input 
                type="password"
                id="Password"
                name="Password"
                class="form-control"
                ngModel>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">{{isLogin ? "login":"singUp"}}</button>
                
            </div>
            <div>
                <p>Do not have account?</p>
                <a type="submit" (click)="onPress()">switch to {{isLogin ? "singUp":"login"}}</a>
                <p>{{email}}</p>
                <p>{{name}}</p>
            </div>
        </form>
    </div>
</div>