<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">name</label>
            <input 
            type="text"
            id="name"
            formControlName="imageName" 
            class="form-control">
        </div>
        <div>
            <label for="link">Image link</label>
            <input 
            type="text" 
            id="imageLink"
            formControlName="imageLink"
            class="form-control">
        </div>
        <div>
            <label for="details">Image Details</label>
            <textarea 
            name="details" 
            id="details" 
            formControlName="details"
            class="form-control"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>